@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-color: #fff947;
  --secondary-color: #1A1A40;
  --font-color: #fff;
  --font-placeholder-color: #ffffff4d;
  --font-faded-color: #515151;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

